.highcharts-background,
.highcharts-plot-background {
  fill: #f8f8f8;
}

.highcharts-grid-line {
  stroke: #e6e6e6;
  stroke-width: 1px;
}

.highcharts-xaxis-labels text {
  fill: #999;
}

.highcharts-title {
  fill: #333;
  font-weight: bold;
}

.highcharts-series path {
  stroke: #333;
  stroke-width: 3px;
}