.banner {background-image: url("../../Assets/banner-bg.png"); background-repeat: no-repeat; background-size: cover; position: relative; padding: 160px 0 70px; color: var(--white-color); margin-bottom: 80px;}
  .banner .image-box{position: absolute; right: 0; top: 106px; left: 32%; bottom: -10%;}
  